.TitleDiv{
  margin-top: 10vmin;
  background-color: rgba(242,69,53,.7);/*Used rgba so I can affect the alpha values for the background*/
  display:flex;
  flex-direction:column;
}
.TitleDiv p{
	margin-top:.5vmin;
  font-size: 4vmin;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: rgba(255,255,255,1);
  line-height: .1vmin;
  letter-spacing: 0.8vmin;
}
.TitleDiv h1{
  font-size: 15vmin;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: rgba(254,241,196,1);
  margin-bottom: 1px;
  margin-top: .7vmin;
}

.Author{/*class in the div that contains the quote and the source*/
  margin: 15vmin 50vmin auto 3vmin;
  width:90vmin;
}
.Author p{ /*Afftect the quote off to the left*/
  font-size: 5vmin;
  font-family: 'Quicksand', sans-serif;
  color:#E8C485;
  margin-bottom:0px;
  text-shadow: 1px 1px black; /*Add a shadow so the text is more visible*/
}
.Author p + p{ /*Affects the source paragraph after the quote*/
  margin-top: 0px;
  font-size: 3vmin;
  font-family: 'Nunito Sans', sans-serif;
  color: #4BCCCB;
  text-shadow: 1px 1px black;
}

.JoinUs p{ /*Text at the very bottom*/
  text-align: center;
  font-size: 7vmin;
  font-family: 'Nunito Sans', sans-serif;
  color: #FEF9D4;
  text-shadow: 1px 1px black;
  margin-top: 10vmin;
  letter-spacing: 1.1vmin;
}

body{
  background-image: url("images/futureCity.jpg");
  background-repeat:repeat-y;
  background-size: 130%, 500%
}
